* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 3rem 1rem;
}

.ball {
    width: 50px;
    height: 50px;
    background-color: rgb(0, 110, 255);
    border-radius: 50%;
}

@mixin bounce ($duration:null, $start: null, $distance: null) {
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {transform: translateY($start);} 
        40% {transform: translateY($distance);} 
        60% {transform: translateY(calc($distance / 2));} 
    }
}

.ball:hover {
    @include bounce(1s, 0, -30px);
    animation: bounce 1s;
}