@use 'functions';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "col-1 col-2 col-3 col-4 col-5 col-6 col-7 col-8 col-9 col-10 col-11 col-12";
    border: 1px solid black;
    margin: 1rem;
}

.col-1 {
    grid-area: col-1;
    border-right: 1px solid black;
    background-color: functions.random-hex();
}

.col-2 {
    grid-area: col-2;
    border-right: 1px solid black;
    background-color: functions.random-hex();
}

.col-3 {
    grid-area: col-3;
    border-right: 1px solid black;
    background-color: functions.random-hex();
}

.col-4 {
    grid-area: col-4;
    border-right: 1px solid black;
    background-color: functions.random-hex();
}

.col-5 {
    grid-area: col-5;
    border-right: 1px solid black;
    background-color: functions.random-hex();
}

.col-6 {
    grid-area: col-6;
    border-right: 1px solid black;
    background-color: functions.random-hex();
}

.col-7 {
    grid-area: col-7;
    border-right: 1px solid black;
    background-color: functions.random-hex();
}

.col-8 {
    grid-area: col-8;
    border-right: 1px solid black;
    background-color: functions.random-hex();
}

.col-9 {
    grid-area: col-9;
    border-right: 1px solid black;
    background-color: functions.random-hex();
}

.col-10 {
    grid-area: col-10;
    border-right: 1px solid black;
    background-color: functions.random-hex();
}

.col-11 {
    grid-area: col-11;
    border-right: 1px solid #000;
    background-color: functions.random-hex();
}

.col-12 {
    grid-area: col-12;
   background-color: functions.random-hex();
}
