@use 'functions';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 1rem;
}

.container {
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border: 1px solid black;

    .col {
        $i: 0;
        @while $i < 13 {
            &:nth-child(#{$i}) {
                background-color: functions.random-hex();
                $i: $i + 1;
            }
        }
    }
}


