* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

%h1 {
    color: green;
}

.container {
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    padding: 1rem;
    margin: 1rem;
    gap: 1rem;

    & h1 {
        @extend %h1;
        border-bottom: 1px solid blue;
        margin: 1rem
    }

    & h2 {
        @extend %h1;
        border: 1px solid red;
        padding: 1rem;
    }

    section {
        & article {
            border: 1px solid green;
            text-align: center;
            padding: 2rem 1rem;
            color: red;
        }

        & .card-1,
        & .card-3 {
            color: blue;
        }
    }

    section {
        & .footer {
            border: 1px solid blue;
            font-size: 24px;
            padding: 2rem 2.7rem;
            color: green;
        }
    }
}

