.d-flex {
    display: flex;
}

%h1 {
    color: green;
}

.container {
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    padding: 1rem;

    & h1 {
        @extend %h1;
        border-bottom: 1px solid blue
    }

    & h2 {
        @extend %h1;
        border: 1px solid red;
        padding: 1rem;
    }

    section {
        & article {
            border: 1px solid green;
            text-align: center;
            padding: 1rem;
            color: red;
        }

        & .card-1,
        & .card-3 {
            color: blue;
        }
    }

    section {
        & .footer {
            border: 1px solid blue;
            margin-top: 1rem;
            font-size: 24px;
            padding: 1rem 3.2rem;
            color: green;
        }
    }
}

