$padding-1rem: 1rem;
$color-title: green;
$border-color: blue;
$border-bottom: 1px solid;
$border-color-container: red;
$border: 1px solid;
$border-color-article: green;
$border-color-art-footer: blue;
$font-size: 1rem;
$font-size-footer: 24px;
$color-footer: green;
$color-article: red;
$color-card: blue;
