@use 'base';
@use 'functions';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    padding: functions.rem(16rem);
    border: base.$border;
    border-color: base.$border-color-container;
}

.container {

    h1 {
        border-bottom: base.$border-bottom;
        border-color: base.$border-color;
        color: base.$color-title;
        margin-top: 1rem;
    }

    section {
        article {
            border: base.$border;
            border-color: base.$border-color-article;
            padding: 2rem 1rem;
            text-align: center;
            font-size: base.$font-size;
            color: base.$color-article;
        }

        .card-1, .card-3 {
            color: base.$color-card;
        }
    }

    footer {
        article {
            border: base.$border;
            border-color: base.$border-color-art-footer;
            padding: 2rem 2.7rem;
            font-size: base.$font-size-footer;
            color: base.$color-footer;
        }
    }
}